Repository formancehq/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

update-sdks:
  name: update SDKs
  entry: ./scripts/update-sdks.sh
  description: Update SDKs
  language: script
  pass_filenames: false

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

feat: add todo
  components/ledger/pkg/ledger/cache/cache.go
  components/ledger/pkg/ledger/ledger.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: refactor docker-compose.yml and environment variables
  docker-compose.override.yml
  docker-compose.yml
  reflex.Dockerfile
Due: none

chore: json header
  components/ledger/pkg/api/middlewares/ledger_middleware.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated flags and add --bind flag on ledger (replace --server.http.bind_address)" (#97)
  components/ledger/cmd/root.go
  components/ledger/cmd/script_exec.go
  components/ledger/cmd/script_test.go
  components/ledger/cmd/server_start.go
  components/ledger/docker-compose.yml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/payments.yaml
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat/num 1546 ledger replace server start by serve (#101)
  components/ledger/Dockerfile
  components/ledger/cmd/root.go
  components/ledger/cmd/root_test.go
  components/ledger/cmd/serve.go
  components/ledger/cmd/server.go
  components/ledger/docker-compose.override.yml
  components/ledger/main.go
  components/payments/Dockerfile
  components/payments/cmd/serve.go
  components/payments/docker-compose.yml
  components/wallets/Dockerfile
  components/wallets/cmd/serve.go
  components/wallets/docker-compose.yml
  components/webhooks/Dockerfile
  components/webhooks/cmd/serve.go
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove /script endpoint (#102)
  components/ledger/cmd/root.go
  components/ledger/cmd/script_check.go
  components/ledger/cmd/script_exec.go
  components/ledger/cmd/script_test.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/controllers/controllers.go
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/script_controller_test.go
  components/ledger/pkg/api/routes/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated json fields and query params (#100)
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/balance_controller.go
  components/ledger/pkg/api/controllers/ledger_controller.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/query.go
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/script_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/storage/sqlstorage/accounts.go
  components/ledger/pkg/storage/sqlstorage/balances.go
  components/ledger/pkg/storage/sqlstorage/logs.go
  components/ledger/pkg/storage/sqlstorage/transactions.go
  libs/go-libs/api/response.go
  libs/go-libs/api/response_test.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

git subrepo push components/ledger
  components/ledger/.gitrepo
Due: none

feat: Remove NUMARY_ prefix on ledger and update operator (#94)
  components/ledger/Taskfile.yaml
  components/ledger/app.json
  components/ledger/cmd/internal/env.go
  components/ledger/cmd/internal/utils.go
  components/ledger/cmd/root_test.go
  components/ledger/docker-compose.override.yml
  components/ledger/docker-compose.yml
  components/ledger/examples/basic-auth/docker-compose.yml
  components/ledger/examples/jaeger-exporter/docker-compose.yml
  components/ledger/examples/multi-node/docker-compose.yml
  components/ledger/examples/otlp-exporter/docker-compose.yml
  components/ledger/examples/publisher-http/docker-compose.yml
  components/ledger/examples/publisher-kafka/docker-compose.yml
  components/ledger/internal/pgtesting/testing.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/storage/sqlstorage/store_ledger_test.go
  components/ledger/sdk/templates/go/Taskfile.yml.mustache
  components/ledger/sdk/templates/php/Taskfile.yml.mustache
  components/ledger/sdk/templates/python/Taskfile.yml.mustache
  components/ledger/sdk/templates/typescript/Taskfile.yml.mustache
  components/operator/internal/common/broker.go
  components/operator/internal/common/image.go
  components/operator/internal/common/labels.go
  components/operator/internal/common/postgres.go
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/handlers/handler_ledger.go
  components/operator/internal/modules/monitoring.go
  components/operator/internal/modules/service.go
  components/orchestration/docker-compose.yml
  components/wallets/docker-compose.yml
  docker-compose.yml
  tests/loadtesting/docker-compose.ledger.yml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove ledger config file (#96)
  components/ledger/cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move openapi files to root (#95)
  components/auth/openapi.yaml
  components/ledger/go.mod
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/config_controller.go
  components/ledger/pkg/api/routes/routes.go
  components/orchestration/openapi.yaml
  components/search/openapi.yaml
  components/wallets/openapi.yaml
  components/webhooks/openapi.yaml
  openapi/openapi-merge.json
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove sqlite usage on auth server (#110)
  components/auth/go.mod
  components/auth/go.sum
  components/auth/pkg/api/authorization/accesstoken_test.go
  components/auth/pkg/api/authorization/main_test.go
  components/auth/pkg/api/clients_test.go
  components/auth/pkg/api/main_test.go
  components/auth/pkg/api/scopes_test.go
  components/auth/pkg/api/users_test.go
  components/auth/pkg/client.go
  components/auth/pkg/oidc/main_test.go
  components/auth/pkg/oidc/oidc_test.go
  components/auth/pkg/storage/sqlstorage/sqlite.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: docker-compose entrypoints (#118)
  docker-compose.override.yml
Due: none

chore: remove http basic authentication and deprecated telemetry flags (#106)
  components/ledger/cmd/container.go
  components/ledger/cmd/internal/analytics.go
  components/ledger/cmd/internal/analytics_test.go
  components/ledger/cmd/internal/http_basic.go
  components/ledger/cmd/internal/http_basic_test.go
  components/ledger/cmd/root.go
  components/ledger/pkg/api/routes/routes.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove 'ui' and 'stickers' commands on ledger (#105)
  components/ledger/cmd/root.go
  components/ledger/cmd/stickers.go
  components/ledger/cmd/ui.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove sqlite from ledger (#109)
  components/ledger/Taskfile.yaml
  components/ledger/cmd/container.go
  components/ledger/cmd/container_test.go
  components/ledger/cmd/internal/analytics_test.go
  components/ledger/cmd/root.go
  components/ledger/cmd/root_test.go
  components/ledger/cmd/storage.go
  components/ledger/cmd/storage_test.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/analytics/segment_test.go
  components/ledger/pkg/api/api.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/api/internal/testing.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/storage/sqlstorage/accounts.go
  components/ledger/pkg/storage/sqlstorage/accounts_test.go
  components/ledger/pkg/storage/sqlstorage/aggregations.go
  components/ledger/pkg/storage/sqlstorage/balances.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/driver_test.go
  components/ledger/pkg/storage/sqlstorage/flavor.go
  components/ledger/pkg/storage/sqlstorage/logs.go
  components/ledger/pkg/storage/sqlstorage/migrate.go
  components/ledger/pkg/storage/sqlstorage/migrate_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  components/ledger/pkg/storage/sqlstorage/module.go
  components/ledger/pkg/storage/sqlstorage/schema.go
  components/ledger/pkg/storage/sqlstorage/sqlite.go
  components/ledger/pkg/storage/sqlstorage/store_ledger.go
  components/ledger/pkg/storage/sqlstorage/store_ledger_test.go
  components/ledger/pkg/storage/sqlstorage/transactions.go
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(orchestration): add --worker flag to embed worker on main service (#120)
  components/orchestration/cmd/root.go
  components/orchestration/cmd/serve.go
  components/orchestration/cmd/version.go
  components/orchestration/cmd/worker.go
  components/orchestration/docker-compose.yml
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/api/router.go
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: local testing (#116)
  components/ledger/docker-compose.yml
Due: none

chore: remove 'total' property from cursors (#107)
  components/search/pkg/searchhttp/cursor.go
  components/search/pkg/searchhttp/http.go
  components/search/pkg/searchhttp/http_test.go
  libs/go-libs/api/response.go
  libs/go-libs/api/response_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use pgtesting from go libs (#112)
  components/ledger/cmd/internal/analytics_test.go
  components/ledger/cmd/internal/main_test.go
  components/ledger/cmd/root_test.go
  components/ledger/cmd/storage_test.go
  components/ledger/go.mod
  components/ledger/internal/pgtesting/testing.go
  components/ledger/pkg/analytics/main_test.go
  components/ledger/pkg/analytics/segment_test.go
  components/ledger/pkg/api/controllers/main_test.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/api/internal/testing.go
  components/ledger/pkg/api/middlewares/main_test.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/main_test.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/storage/sqlstorage/accounts_test.go
  components/ledger/pkg/storage/sqlstorage/driver_test.go
  components/ledger/pkg/storage/sqlstorage/main_test.go
  components/ledger/pkg/storage/sqlstorage/migrate_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/13-clean-logs/any_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/9-add-pre-post-volumes/any_test.go
  components/ledger/pkg/storage/sqlstorage/store_ledger_test.go
  components/ledger/pkg/storage/sqlstorage/transactions_test.go
  libs/go-libs/pgtesting/postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

operator/tests: fix missing NUMARY prefix
  components/operator/internal/controllers/stack/testdata/monopod/deployments-apps-v1/stack2.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
Due: none

fix: if we have an error, still release all models (#141)
  components/ledger/pkg/storage/sqlstorage/worker/worker.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move ledger lock inside core ledger (#129)
  components/ledger/cmd/container.go
  components/ledger/cmd/container_test.go
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/idempotency/hash.go
  components/ledger/pkg/api/idempotency/middleware.go
  components/ledger/pkg/api/idempotency/middleware_test.go
  components/ledger/pkg/api/idempotency/response.go
  components/ledger/pkg/api/idempotency/response_writer.go
  components/ledger/pkg/api/idempotency/store.go
  components/ledger/pkg/api/middlewares/module.go
  components/ledger/pkg/api/routes/routes.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/resolver.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/redis/lock.go
  components/ledger/pkg/redis/lock_test.go
  components/ledger/pkg/redis/module.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/idempotency.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/module.go
  tests/integration/go.mod
  tests/integration/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move bulk insert to copy with bun (#145)
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/storage/sqlstorage/errors/errors.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/module.go
  libs/go-libs/go.mod
  libs/go-libs/pgtesting/postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: combine logs before insertion (#142)
  components/ledger/cmd/container_test.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/ledger/benchmarks_test.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/execute_script_test.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: replace goose by handcradfted library (#121)
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
  components/operator/internal/handlers/handler_payments.go
  components/orchestration/cmd/root.go
  components/orchestration/cmd/serve.go
  components/orchestration/cmd/worker.go
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/storage/migrations.go
  components/orchestration/internal/storage/module.go
  components/orchestration/internal/workflow/manager_test.go
  components/payments/cmd/migrate.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/app/migrations/001_initiate_schemas.go
  components/payments/internal/app/migrations/002_connectors.go
  components/payments/internal/app/migrations/003_tasks.go
  components/payments/internal/app/migrations/004_accounts.go
  components/payments/internal/app/migrations/005_payments.go
  components/payments/internal/app/migrations/006_conifg_encryption.go
  components/payments/internal/app/migrations/007_transfers.go
  components/payments/internal/app/storage/migrations.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  libs/go-libs/migrations/migration.go
  libs/go-libs/migrations/migrator.go
  libs/go-libs/migrations/migrator_test.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/internal/externals.go
  tests/integration/internal/helpers.go
  tests/integration/internal/opensearch.go
  tests/integration/internal/postgres.go
  tests/integration/internal/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove unnecessary storage abstractions (#147)
  components/ledger/cmd/container_test.go
  components/ledger/cmd/internal/analytics_test.go
  components/ledger/cmd/storage.go
  components/ledger/pkg/analytics/segment.go
  components/ledger/pkg/analytics/segment_test.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/balance_controller.go
  components/ledger/pkg/api/controllers/config_controller.go
  components/ledger/pkg/api/controllers/config_controller_test.go
  components/ledger/pkg/api/controllers/ledger_controller.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/query.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/api/internal/testing.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/resolver.go
  components/ledger/pkg/ledger/stats.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/storage/driver.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/driver_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/balances.go
  components/ledger/pkg/storage/sqlstorage/ledger/balances_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/any_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/any_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions_test.go
  components/ledger/pkg/storage/sqlstorage/module.go
  components/ledger/pkg/storage/storage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce logs insertion by batch (#128)
  components/ledger/cmd/container_test.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/core/log.go
  components/ledger/pkg/core/log_test.go
  components/ledger/pkg/core/numscript.go
  components/ledger/pkg/ledger/benchmarks_test.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/execute_script_test.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/storage.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
  components/ledger/pkg/storage/sqlstorage/ledger/commit.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/worker/worker.go
  components/ledger/pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Remove NUMARY_ prefix on ledger and update operator (#94)
  components/ledger/cmd/root_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: refactor docker-compose.yml and environment variables (#158)
  docker-compose.override.yml
  docker-compose.yml
  reflex.Dockerfile
Due: none

chore: add example in the description for metadata filter (#115)
  components/ledger/pkg/api/controllers/swagger.yaml
Due: update-sdks

Path conditions:
  update-sdks: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml|openapi\/Taskfile.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
