Repository formancehq/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

update-sdks:
  name: update SDKs
  entry: ./scripts/update-sdks.sh
  description: Update SDKs
  language: script
  pass_filenames: false

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

fix: missing enum case for payments api (break sdk)
  components/payments/openapi.yaml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/docs/PaymentStatus.md
  sdks/go/model_payment_status.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/PaymentStatus.md
  sdks/java/src/main/java/com/formance/formance/model/PaymentStatus.java
  sdks/php/lib/Model/PaymentStatus.php
  sdks/python/Formance/model/payment_status.py
  sdks/python/Formance/model/payment_status.pyi
  sdks/python/docs/models/PaymentStatus.md
  sdks/typescript-node/.openapi-generator/FILES
  sdks/typescript-node/models/PaymentStatus.ts
Due: update-sdks

chore: remove useless comment
  tests/integration/suite/ledger-set-metadata-on-account.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: text
  tests/integration/internal/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Update events/README.md
  events/README.md
Due: none

fix: versions field in gateway should be consistent
  components/gateway/pkg/plugins/versions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: event schemas
  events/v1/ledger/COMMITTED_TRANSACTIONS.yaml
Due: none

feat: add worktrees to .gitignore
  .gitignore
Due: none

chore: move events to libs/
  libs/events/README.md
  libs/events/events.go
  libs/events/v1/base/base.yaml
  libs/events/v1/ledger/COMMITTED_TRANSACTIONS.yaml
  libs/events/v1/ledger/SAVED_METADATA.yaml
  libs/events/v1/payments/SAVED_PAYMENT.yaml
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-set-metadata-on-account.go
  tests/integration/suite/payments-dummy-pay-connector.go
  tests/integration/suite/payments-stripe-connector.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test: add more tests
  .gitignore
  components/payments/.golangci.yml
  components/payments/internal/app/connectors/currencycloud/client/transactions.go
  components/payments/internal/app/ingestion/accounts.go
  components/payments/internal/app/ingestion/payments.go
  components/payments/internal/app/integration/manager.go
  components/payments/internal/app/messages/accounts.go
  components/payments/internal/app/messages/connectors.go
  components/payments/internal/app/messages/payments.go
  components/payments/openapi.yaml
  components/payments/pkg/events/event.go
  go.mod
  go.sum
  libs/events/README.md
  libs/events/events.go
  libs/events/v1/base/base.yaml
  libs/events/v1/ledger/COMMITTED_TRANSACTIONS.yaml
  libs/events/v1/ledger/SAVED_METADATA.yaml
  libs/events/v1/payments/SAVED_PAYMENT.yaml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/docs/PaymentStatus.md
  sdks/go/model_payment_status.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/PaymentStatus.md
  sdks/java/src/main/java/com/formance/formance/model/PaymentStatus.java
  sdks/php/lib/Model/PaymentStatus.php
  sdks/python/Formance/model/payment_status.py
  sdks/python/Formance/model/payment_status.pyi
  sdks/python/docs/models/PaymentStatus.md
  sdks/typescript-node/.openapi-generator/FILES
  sdks/typescript-node/models/PaymentStatus.ts
  tests/integration/go.mod
  tests/integration/internal/utils.go
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-set-metadata-on-account.go
  tests/integration/suite/payments-dummy-pay-connector.go
  tests/integration/suite/payments-stripe-connector.go
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  .github/workflows/release_sdk.yml
  openapi/Taskfile.yaml
  openapi/package.json
  openapi/tests/java/pom.xml
Due: update-sdks

git subrepo push components/ledger
  components/ledger/.gitrepo
Due: none

feat: replace gin by chi
  components/ledger/cmd/container.go
  components/ledger/cmd/internal/http_basic.go
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/api.go
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/balance_controller.go
  components/ledger/pkg/api/controllers/base_controller.go
  components/ledger/pkg/api/controllers/config_controller.go
  components/ledger/pkg/api/controllers/context.go
  components/ledger/pkg/api/controllers/ledger_controller.go
  components/ledger/pkg/api/controllers/mapping_controller.go
  components/ledger/pkg/api/controllers/query.go
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/idempotency/middleware.go
  components/ledger/pkg/api/idempotency/middleware_test.go
  components/ledger/pkg/api/idempotency/response.go
  components/ledger/pkg/api/idempotency/response_writer.go
  components/ledger/pkg/api/internal/testing.go
  components/ledger/pkg/api/middlewares/ledger_middleware.go
  components/ledger/pkg/api/middlewares/log_middleware.go
  components/ledger/pkg/api/middlewares/module_test.go
  components/ledger/pkg/api/middlewares/transaction.go
  components/ledger/pkg/api/routes/routes.go
  components/ledger/pkg/contextlogger/contextlogger.go
  components/ledger/pkg/opentelemetry/tracer.go
  libs/go-libs/api/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: content-type
  libs/go-libs/api/utils.go
  tests/integration/go.mod
  tests/integration/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove auth module on payments, search and lib
  components/ledger/cmd/container.go
  components/ledger/cmd/internal/http_basic.go
  components/ledger/cmd/internal/http_basic_test.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/api.go
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/api/idempotency/middleware_test.go
  components/payments/cmd/root.go
  components/payments/cmd/server.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/app/api/module.go
  components/payments/internal/app/api/router.go
  components/search/cmd/server.go
  components/search/go.mod
  components/search/go.sum
  libs/go-libs/auth/auth.go
  libs/go-libs/auth/auth_test.go
  libs/go-libs/auth/authjwt/checks.go
  libs/go-libs/auth/authjwt/claims.go
  libs/go-libs/auth/basic.go
  libs/go-libs/auth/basic_test.go
  libs/go-libs/auth/bearer.go
  libs/go-libs/auth/bearer_test.go
  libs/go-libs/auth/context.go
  libs/go-libs/auth/middleware.go
  libs/go-libs/auth/middleware_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: rename openapi specs and put on same location on all components
  components/auth/openapi.yaml
  components/ledger/go.mod
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/config_controller.go
  components/ledger/pkg/api/routes/routes.go
  components/orchestration/openapi.yaml
  components/search/openapi.yaml
  components/wallets/openapi.yaml
  components/webhooks/openapi.yaml
  openapi/openapi-merge.json
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: versions field in gateway should be consistent (#91)
  components/gateway/pkg/plugins/versions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move openapi files to root (#95)
  components/auth/openapi.yaml
  components/ledger/go.mod
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/config_controller.go
  components/ledger/pkg/api/routes/routes.go
  components/orchestration/openapi.yaml
  components/search/openapi.yaml
  components/wallets/openapi.yaml
  components/webhooks/openapi.yaml
  openapi/openapi-merge.json
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove config file for ledger
  components/ledger/cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove ledger config file (#96)
  components/ledger/cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated flags and add --bind flag to the ledger
  components/ledger/cmd/root.go
  components/ledger/cmd/script_exec.go
  components/ledger/cmd/script_test.go
  components/ledger/cmd/server_start.go
  components/ledger/docker-compose.yml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_ledger.go
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated flags and add --bind flag on ledger (replace --server.http.bind_address)" (#97)
  components/ledger/cmd/root.go
  components/ledger/cmd/script_exec.go
  components/ledger/cmd/script_test.go
  components/ledger/cmd/server_start.go
  components/ledger/docker-compose.yml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_ledger.go
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add environment to versions endpoint
  components/gateway/Caddyfile
  components/gateway/pkg/plugins/versions.go
  components/operator/internal/controllers/stack/stack_reconciler.go
  components/operator/internal/handlers/handler_gateway.go
  components/operator/internal/modules/service.go
  components/operator/main.go
  config/gateway/Caddyfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix tests
  components/operator/internal/controllers/stack/suite_test.go
  components/operator/internal/controllers/stack/testdata/resources/configmaps--v1/gateway-config.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated fields and query params
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/balance_controller.go
  components/ledger/pkg/api/controllers/ledger_controller.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/query.go
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/script_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/storage/sqlstorage/accounts.go
  components/ledger/pkg/storage/sqlstorage/balances.go
  components/ledger/pkg/storage/sqlstorage/logs.go
  components/ledger/pkg/storage/sqlstorage/transactions.go
  libs/go-libs/api/response.go
  libs/go-libs/api/response_test.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated json fields and query params (#100)
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/balance_controller.go
  components/ledger/pkg/api/controllers/ledger_controller.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/query.go
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/script_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/storage/sqlstorage/accounts.go
  components/ledger/pkg/storage/sqlstorage/balances.go
  components/ledger/pkg/storage/sqlstorage/logs.go
  components/ledger/pkg/storage/sqlstorage/transactions.go
  libs/go-libs/api/response.go
  libs/go-libs/api/response_test.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: make all services use command 'serve' to start api
  components/ledger/Dockerfile
  components/ledger/cmd/root.go
  components/ledger/cmd/serve.go
  components/ledger/cmd/server.go
  components/ledger/docker-compose.override.yml
  components/ledger/main.go
  components/payments/Dockerfile
  components/payments/cmd/serve.go
  components/payments/docker-compose.yml
  components/wallets/Dockerfile
  components/wallets/cmd/serve.go
  components/wallets/docker-compose.yml
  components/webhooks/Dockerfile
  components/webhooks/cmd/serve.go
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: typo
  components/ledger/cmd/serve.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: tests
  components/ledger/cmd/root_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat/num 1546 ledger replace server start by serve (#101)
  components/ledger/Dockerfile
  components/ledger/cmd/root.go
  components/ledger/cmd/root_test.go
  components/ledger/cmd/serve.go
  components/ledger/cmd/server.go
  components/ledger/docker-compose.override.yml
  components/ledger/main.go
  components/payments/Dockerfile
  components/payments/cmd/serve.go
  components/payments/docker-compose.yml
  components/wallets/Dockerfile
  components/wallets/cmd/serve.go
  components/wallets/docker-compose.yml
  components/webhooks/Dockerfile
  components/webhooks/cmd/serve.go
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  update-sdks: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml|openapi\/Taskfile.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
