Repository formancehq/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: components/operator/internal/controllers/stack/testdata
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: update-sdks
    name: update SDKs
    entry: ./scripts/update-sdks.sh
    description: "Update SDKs"
    language: script
    files: 'swagger.yaml|swagger.yml|openapi.yml|openapi.yaml|openapi\/Taskfile.yaml' # TODO: Refine when all specs will be on the same location
    pass_filenames: false
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: add error logging
  components/operator/internal/controllers/stack/stack_reconciler.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing access
  components/operator/internal/controllers/stack/stack_reconciler.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing access
  components/operator/config/rbac/role.yaml
Due: none

fix: service selector
  components/operator/internal/controllers/stack/testdata/monopod/deployments-apps-v1/stack2.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/webhooks.yaml
  components/operator/internal/modules/service.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move lock inside core ledger
  components/ledger/cmd/container.go
  components/ledger/cmd/container_test.go
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/idempotency/hash.go
  components/ledger/pkg/api/idempotency/middleware.go
  components/ledger/pkg/api/idempotency/middleware_test.go
  components/ledger/pkg/api/idempotency/response.go
  components/ledger/pkg/api/idempotency/response_writer.go
  components/ledger/pkg/api/idempotency/store.go
  components/ledger/pkg/api/middlewares/module.go
  components/ledger/pkg/api/routes/routes.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/resolver.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/redis/lock.go
  components/ledger/pkg/redis/lock_test.go
  components/ledger/pkg/redis/module.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/idempotency.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/module.go
  tests/integration/go.mod
  tests/integration/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move ledger lock inside core ledger (#129)
  components/ledger/cmd/container.go
  components/ledger/cmd/container_test.go
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/idempotency/hash.go
  components/ledger/pkg/api/idempotency/middleware.go
  components/ledger/pkg/api/idempotency/middleware_test.go
  components/ledger/pkg/api/idempotency/response.go
  components/ledger/pkg/api/idempotency/response_writer.go
  components/ledger/pkg/api/idempotency/store.go
  components/ledger/pkg/api/middlewares/module.go
  components/ledger/pkg/api/routes/routes.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/resolver.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/redis/lock.go
  components/ledger/pkg/redis/lock_test.go
  components/ledger/pkg/redis/module.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/idempotency.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/module.go
  tests/integration/go.mod
  tests/integration/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing --stack flag on generate-personal-token command
  components/fctl/cmd/cloud/generate_personal_token.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: wording
  components/fctl/cmd/orchestration/workflows/run.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: wording (#132)
  components/fctl/cmd/orchestration/workflows/run.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add owner information on organization list
  components/fctl/cmd/cloud/organizations/list.go
  components/fctl/go.mod
  components/fctl/go.sum
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/.openapi-generator/VERSION
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/client.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/ListOrganizationExpandedResponseDataInner.md
  components/fctl/membershipclient/docs/ListOrganizationExpandedResponseDataInnerAllOf.md
  components/fctl/membershipclient/go.mod
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_billing_portal_response.go
  components/fctl/membershipclient/model_billing_setup_response.go
  components/fctl/membershipclient/model_create_invitation_response.go
  components/fctl/membershipclient/model_create_organization_response.go
  components/fctl/membershipclient/model_create_stack_response.go
  components/fctl/membershipclient/model_error.go
  components/fctl/membershipclient/model_invitation.go
  components/fctl/membershipclient/model_list_invitations_response.go
  components/fctl/membershipclient/model_list_organization_expanded_response.go
  components/fctl/membershipclient/model_list_organization_expanded_response_data_inner.go
  components/fctl/membershipclient/model_list_organization_expanded_response_data_inner_all_of.go
  components/fctl/membershipclient/model_list_organization_response.go
  components/fctl/membershipclient/model_list_regions_response.go
  components/fctl/membershipclient/model_list_stacks_response.go
  components/fctl/membershipclient/model_list_users_response.go
  components/fctl/membershipclient/model_read_user_response.go
  components/fctl/membershipclient/model_stack.go
  components/fctl/membershipclient/model_stack_all_of.go
  components/fctl/membershipclient/utils.go
  components/fctl/pkg/profile.go
  components/fctl/pkg/ptr.go
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing --stack flag on generate-personal-token command (#131)
  components/fctl/cmd/cloud/generate_personal_token.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: introduce logs insertion by batch
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/core/log.go
  components/ledger/pkg/core/log_test.go
  components/ledger/pkg/core/numscript.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
  components/ledger/pkg/storage/sqlstorage/ledger/commit.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/worker/worker.go
  components/ledger/pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add owner information on organization list (#130)
  components/fctl/cmd/cloud/organizations/list.go
  components/fctl/go.mod
  components/fctl/go.sum
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/.openapi-generator/VERSION
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/client.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/ListOrganizationExpandedResponseDataInner.md
  components/fctl/membershipclient/docs/ListOrganizationExpandedResponseDataInnerAllOf.md
  components/fctl/membershipclient/go.mod
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_billing_portal_response.go
  components/fctl/membershipclient/model_billing_setup_response.go
  components/fctl/membershipclient/model_create_invitation_response.go
  components/fctl/membershipclient/model_create_organization_response.go
  components/fctl/membershipclient/model_create_stack_response.go
  components/fctl/membershipclient/model_error.go
  components/fctl/membershipclient/model_invitation.go
  components/fctl/membershipclient/model_list_invitations_response.go
  components/fctl/membershipclient/model_list_organization_expanded_response.go
  components/fctl/membershipclient/model_list_organization_expanded_response_data_inner.go
  components/fctl/membershipclient/model_list_organization_expanded_response_data_inner_all_of.go
  components/fctl/membershipclient/model_list_organization_response.go
  components/fctl/membershipclient/model_list_regions_response.go
  components/fctl/membershipclient/model_list_stacks_response.go
  components/fctl/membershipclient/model_list_users_response.go
  components/fctl/membershipclient/model_read_user_response.go
  components/fctl/membershipclient/model_stack.go
  components/fctl/membershipclient/model_stack_all_of.go
  components/fctl/membershipclient/utils.go
  components/fctl/pkg/profile.go
  components/fctl/pkg/ptr.go
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): Create Nats Topic in Operator
  components/operator/config/rbac/role.yaml
  components/operator/go.mod
  components/operator/go.sum
  components/operator/internal/controllers/stack/stack_reconciler.go
  components/operator/internal/modules/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): Create Nats Topic in Operator
  components/operator/internal/handlers/handler_ledger.go
  components/operator/internal/handlers/handler_payments.go
  components/operator/internal/modules/module.go
  components/operator/internal/modules/service.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: update ledger documentation with overdraft article and metadata description
  docs/docs/ledger/numscript/metadata/index.mdx
  docs/docs/ledger/numscript/overdraft/index.mdx
  docs/docs/ledger/reference/numscript/sources.mdx
  docs/sidebars.js
Due: none

combine logs insertion while waiting for CQRS
  components/ledger/cmd/container_test.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/ledger/benchmarks_test.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/execute_script_test.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/storage.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
  components/ledger/pkg/storage/sqlstorage/ledger/commit.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/worker/worker.go
  components/ledger/pkg/storage/sqlstorage/worker/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): Create Nats Topic in Operator
  components/operator/internal/modules/service.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(fctl): enable login on devices with no browser
  components/fctl/pkg/print.go
  components/fctl/pkg/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix(fctl): enable login on devices with no browser (#138)
  components/fctl/pkg/print.go
  components/fctl/pkg/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): Create Nats Topic in Operator
  components/operator/internal/handlers/handler_search.go
  components/search/benthos/resources/output_elasticsearch.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): Create Nats Topic in Operator
  components/operator/internal/controllers/stack/testdata/monopod/deployments-apps-v1/stack2.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
Due: none

feat(operator): Create Nats Topic in Operator
  components/operator/internal/controllers/stack/testdata/monopod/configmaps--v1/search-benthos-resources.yaml
  components/operator/internal/controllers/stack/testdata/multipod/configmaps--v1/search-benthos-resources.yaml
Due: none

git subrepo push components/ledger
  components/ledger/.gitrepo
Due: none

feat: Remove NUMARY_ prefix on ledger and update operator (#94)
  components/ledger/Taskfile.yaml
  components/ledger/app.json
  components/ledger/cmd/internal/env.go
  components/ledger/cmd/internal/utils.go
  components/ledger/cmd/root_test.go
  components/ledger/docker-compose.override.yml
  components/ledger/docker-compose.yml
  components/ledger/examples/basic-auth/docker-compose.yml
  components/ledger/examples/jaeger-exporter/docker-compose.yml
  components/ledger/examples/multi-node/docker-compose.yml
  components/ledger/examples/otlp-exporter/docker-compose.yml
  components/ledger/examples/publisher-http/docker-compose.yml
  components/ledger/examples/publisher-kafka/docker-compose.yml
  components/ledger/internal/pgtesting/testing.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/storage/sqlstorage/store_ledger_test.go
  components/ledger/sdk/templates/go/Taskfile.yml.mustache
  components/ledger/sdk/templates/php/Taskfile.yml.mustache
  components/ledger/sdk/templates/python/Taskfile.yml.mustache
  components/ledger/sdk/templates/typescript/Taskfile.yml.mustache
  components/operator/internal/common/broker.go
  components/operator/internal/common/image.go
  components/operator/internal/common/labels.go
  components/operator/internal/common/postgres.go
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/handlers/handler_ledger.go
  components/operator/internal/modules/monitoring.go
  components/operator/internal/modules/service.go
  components/orchestration/docker-compose.yml
  components/wallets/docker-compose.yml
  docker-compose.yml
  tests/loadtesting/docker-compose.ledger.yml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: move openapi files to root (#95)
  components/auth/openapi.yaml
  components/ledger/go.mod
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/config_controller.go
  components/ledger/pkg/api/routes/routes.go
  components/orchestration/openapi.yaml
  components/search/openapi.yaml
  components/wallets/openapi.yaml
  components/webhooks/openapi.yaml
  openapi/openapi-merge.json
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove ledger config file (#96)
  components/ledger/cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated flags and add --bind flag on ledger (replace --server.http.bind_address)" (#97)
  components/ledger/cmd/root.go
  components/ledger/cmd/script_exec.go
  components/ledger/cmd/script_test.go
  components/ledger/cmd/server_start.go
  components/ledger/docker-compose.yml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/payments.yaml
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
