Repository formancehq/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

update-sdks:
  name: update SDKs
  entry: ./scripts/update-sdks.sh
  description: Update SDKs
  language: script
  pass_filenames: false

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

wip
  components/ledger/pkg/ledger/cache/cache.go
  components/ledger/pkg/ledger/cache/memprofile.out
  components/ledger/pkg/ledger/cache/profile.out
  first
  second
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add cache eviction and make retention and eviction period configurable
  components/ledger/cmd/container.go
  components/ledger/cmd/internal/main_test.go
  components/ledger/cmd/main_test.go
  components/ledger/cmd/serve.go
  components/ledger/pkg/ledger/cache/cache.go
  components/ledger/pkg/ledger/cache/cache_test.go
  components/ledger/pkg/ledger/cache/memprofile.out
  components/ledger/pkg/ledger/cache/profile.out
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/lock/lock.go
  components/ledger/pkg/ledger/module.go
  components/ledger/pkg/ledger/resolver.go
  components/ledger/pkg/ledger/runner/runner.go
  components/ledger/pkg/storage/sqlstorage/cli.go
  first
  second
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use sync.Map
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/ledger/cache/cache.go
  components/ledger/pkg/ledger/cache/cache_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  components/ledger/pkg/ledger/revert/reverter.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: concurrent reverts
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/core/metadata.go
  components/ledger/pkg/core/transaction.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/revert/reverter.go
  components/ledger/pkg/ledger/revert/reverter_test.go
  components/ledger/pkg/ledger/runner/runner.go
  components/orchestration/internal/workflow/config.go
  libs/events/v1/ledger/REVERTED_TRANSACTION.yaml
  tests/integration/internal/bootstrap.go
  tests/integration/suite/ledger-revert-transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Numscript: allow 0 and 100 inclusive in portions: Update doc (#204)
  docs/docs/ledger/reference/numscript/variables.mdx
Due: none

monetary ops in send
  components/ledger/pkg/machine/examples/basic.go
  components/ledger/pkg/machine/script/compiler/compiler.go
  components/ledger/pkg/machine/script/compiler/destination.go
  components/ledger/pkg/machine/script/compiler/source.go
  components/ledger/pkg/machine/vm/machine.go
  components/ledger/pkg/machine/vm/program/instructions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix
  components/ledger/pkg/machine/examples/basic.go
  components/ledger/pkg/machine/script/compiler/compiler.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  components/ledger/pkg/machine/vm/interpreter.go
  components/ledger/pkg/machine/vm/machine.go
  components/ledger/pkg/machine/vm/machine_kept_test.go
  components/ledger/pkg/machine/vm/machine_overdraft_test.go
  components/ledger/pkg/machine/vm/machine_test.go
  components/ledger/pkg/machine/vm/program/program.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  components/ledger/pkg/machine/vm/interpreter.go
  components/ledger/pkg/machine/vm/program/program.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

query: launch init ledger in goroutines
  components/ledger/pkg/ledger/query/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

query: launch init ledger in goroutines (#219)
  components/ledger/pkg/ledger/query/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: mapping ignore destinations accounts
  components/ledger/pkg/ledger/execute_script_test.go
  components/ledger/pkg/ledger/execute_txsdata.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

wip
  tests/integration/internal/postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: query worker init
  components/ledger/pkg/ledger/module.go
  components/ledger/pkg/ledger/query/init.go
  components/ledger/pkg/ledger/query/module.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  tests/integration/internal/gateway.go
  tests/integration/suite/ledger-set-metadata-on-account.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(benthos): add metrics
  components/search/benthos/config.yml
Due: none

feat: add limit for select in query init ledgers
  components/ledger/cmd/container.go
  components/ledger/cmd/serve.go
  components/ledger/pkg/ledger/module.go
  components/ledger/pkg/ledger/query/init.go
  components/ledger/pkg/ledger/query/module.go
  components/ledger/pkg/ledger/query/module_test.go
  components/ledger/pkg/ledger/query/store.go
  components/ledger/pkg/ledger/query/worker_test.go
  components/ledger/pkg/storage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add limit for select in query init ledgers (#223)
  components/ledger/cmd/container.go
  components/ledger/cmd/serve.go
  components/ledger/pkg/ledger/module.go
  components/ledger/pkg/ledger/query/init.go
  components/ledger/pkg/ledger/query/module.go
  components/ledger/pkg/ledger/query/module_test.go
  components/ledger/pkg/ledger/query/store.go
  components/ledger/pkg/ledger/query/worker_test.go
  components/ledger/pkg/storage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): add label
  components/operator/internal/modules/service.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

test(operator): fix tests
  components/operator/internal/controllers/stack/testdata/monopod/deployments-apps-v1/stack2.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/webhooks.yaml
  components/operator/internal/modules/service.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: merge all migrations to one
  components/ledger/cmd/root.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/1-add-triggers/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/1-add-triggers/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/10-filter-transactions-using-regex/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/11-remove-triggers/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/11-remove-triggers/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/12-amounts-numeric/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/any_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/14-update-timestamp-column-type/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/14-update-timestamp-column-type/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/15-add-idempotency-table/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/15-add-idempotency-table/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/16-denormalize-addresses/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/16-denormalize-addresses/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/any_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/18-v2/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/2-add-meta-compare/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/2-add-meta-compare/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/3-function-use_account/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/4-rewrite-function-use_account/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/5-drop-unused-index/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/6-add-functions-to-filter-on-tx-addresses/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/7-fix-meta_compare/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/8-add-columns-on-transactions/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

remove usuned tables
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
Due: none

feat: merge all migrations to one (#225)
  components/ledger/cmd/root.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/1-add-triggers/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/1-add-triggers/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/10-filter-transactions-using-regex/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/11-remove-triggers/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/11-remove-triggers/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/12-amounts-numeric/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/any_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/13-clean-logs/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/14-update-timestamp-column-type/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/14-update-timestamp-column-type/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/15-add-idempotency-table/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/15-add-idempotency-table/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/16-denormalize-addresses/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/16-denormalize-addresses/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/any_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/18-v2/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/2-add-meta-compare/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/2-add-meta-compare/sqlite.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/3-function-use_account/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/4-rewrite-function-use_account/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/5-drop-unused-index/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/6-add-functions-to-filter-on-tx-addresses/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/7-fix-meta_compare/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/8-add-columns-on-transactions/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add some benchmarks
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/main_test.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/ledger/query/worker_test.go
  components/ledger/pkg/ledger/revert/reverter.go
  components/ledger/pkg/ledger/revert/reverter_test.go
  components/ledger/pkg/ledger/state/state.go
  components/ledger/pkg/storage/sqlstorage/driver_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/ledger/volumes_test.go
  components/ledger/pkg/storage/sqlstorage/sqlstoragetesting/storage.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(benthos): rollback because already active
  components/search/benthos/config.yml
Due: none

feat(operator): add labels to service to add monitoring for benthos (#222)
  components/operator/internal/controllers/stack/testdata/monopod/deployments-apps-v1/stack2.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/webhooks.yaml
  components/operator/internal/modules/service.go
  components/search/benthos/config.yml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: load testing
  .github/workflows/pr_ledger.yml
  components/ledger/docker-compose.override.yml
  components/ledger/docker-compose.yml
  tests/loadtesting/Dockerfile
  tests/loadtesting/Taskfile.yaml
  tests/loadtesting/docker-compose.ledger.yml
  tests/loadtesting/docker-compose.yml
  tests/loadtesting/src/ledger/accounts-test.ts
  tests/loadtesting/src/ledger/infos-test.ts
  tests/loadtesting/src/ledger/stats-test.ts
  tests/loadtesting/src/ledger/transactions-test.ts
  tests/loadtesting/src/ledger/write-transactions-test.ts
  tests/loadtesting/tests/ledger-all.ts
  tests/loadtesting/tests/transactions.ts
Due: none

fix: remove minimum balance for all balances operation
  components/ledger/pkg/api/controllers/swagger.yaml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/api_accounts.go
  sdks/go/docs/AccountsApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/AccountsApi.md
  sdks/java/src/main/java/com/formance/formance/api/AccountsApi.java
  sdks/php/docs/Api/AccountsApi.md
  sdks/php/lib/Api/AccountsApi.php
  sdks/python/Formance/model/account_with_volumes_and_balances.py
  sdks/python/Formance/model/account_with_volumes_and_balances.pyi
  sdks/python/Formance/model/assets_balances.py
  sdks/python/Formance/model/assets_balances.pyi
  sdks/python/Formance/paths/api_ledger_ledger_accounts/get.py
  sdks/python/Formance/paths/api_ledger_ledger_accounts/get.pyi
  sdks/typescript-node/AccountsApi.md
  sdks/typescript-node/apis/AccountsApi.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
Due: update-sdks

feat: enable uuid rand pool for uuid generation
  components/ledger/pkg/core/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove minimum balance for all balances operation (#227)
  components/ledger/pkg/api/controllers/swagger.yaml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/api_accounts.go
  sdks/go/docs/AccountsApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/AccountsApi.md
  sdks/java/src/main/java/com/formance/formance/api/AccountsApi.java
  sdks/php/docs/Api/AccountsApi.md
  sdks/php/lib/Api/AccountsApi.php
  sdks/python/Formance/model/account_with_volumes_and_balances.py
  sdks/python/Formance/model/account_with_volumes_and_balances.pyi
  sdks/python/Formance/model/assets_balances.py
  sdks/python/Formance/model/assets_balances.pyi
  sdks/python/Formance/paths/api_ledger_ledger_accounts/get.py
  sdks/python/Formance/paths/api_ledger_ledger_accounts/get.pyi
  sdks/typescript-node/AccountsApi.md
  sdks/typescript-node/apis/AccountsApi.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
Due: update-sdks

fix: machine involved accounts resolution
  components/ledger/pkg/machine/vm/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  update-sdks: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml|openapi\/Taskfile.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
