Repository formancehq/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: components/operator/internal/controllers/stack/testdata
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: update-sdks
    name: update SDKs
    entry: ./scripts/update-sdks.sh
    description: "Update SDKs"
    language: script
    files: 'swagger.yaml|swagger.yml|openapi.yml|openapi.yaml|openapi\/Taskfile.yaml' # TODO: Refine when all specs will be on the same location
    pass_filenames: false
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: Numscript: Send Monetary Arithmetic rework
  components/ledger/pkg/core/value.go
  components/ledger/pkg/machine/script/NumScript.g4
  components/ledger/pkg/machine/script/compiler/compiler.go
  components/ledger/pkg/machine/script/compiler/compiler_test.go
  components/ledger/pkg/machine/script/parser/NumScript.interp
  components/ledger/pkg/machine/script/parser/NumScript.tokens
  components/ledger/pkg/machine/script/parser/NumScriptLexer.interp
  components/ledger/pkg/machine/script/parser/NumScriptLexer.tokens
  components/ledger/pkg/machine/script/parser/numscript_base_listener.go
  components/ledger/pkg/machine/script/parser/numscript_lexer.go
  components/ledger/pkg/machine/script/parser/numscript_listener.go
  components/ledger/pkg/machine/script/parser/numscript_parser.go
  components/ledger/pkg/machine/vm/machine.go
  components/ledger/pkg/machine/vm/machine_test.go
  components/ledger/pkg/machine/vm/program/resource.go
  components/ledger/pkg/machine/vm/program/resource_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add benchmark and optimize logs hashing
  .gitignore
  components/ledger/pkg/api/controllers/utils_test.go
  components/ledger/pkg/core/log.go
  components/ledger/pkg/core/metadata.go
  components/ledger/pkg/core/posting.go
  components/ledger/pkg/core/transaction.go
  components/ledger/pkg/core/transaction_test.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  libs/go-libs/collectionutils/map.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: machine involved accounts resolution
  components/ledger/pkg/machine/vm/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: use homemade format to store logs payload
  components/ledger/pkg/core/encoding.go
  components/ledger/pkg/core/log.go
  components/ledger/pkg/core/metadata.go
  components/ledger/pkg/core/posting.go
  components/ledger/pkg/core/transaction.go
  components/ledger/pkg/core/transaction_test.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/ledger/runner/runner.go
  components/ledger/pkg/ledger/runner/runner_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: keep last log in memory
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: allow core to handle transactions aynchronously
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/api.go
  components/ledger/pkg/api/controllers/api_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/ledger/query/worker_test.go
  components/ledger/pkg/ledger/revert/reverter.go
  components/ledger/pkg/ledger/revert/reverter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: hash
  components/ledger/pkg/core/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add more integrations tests on accounts
  components/ledger/openapi.yaml
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/api_accounts.go
  sdks/go/api_logs.go
  sdks/go/docs/AccountsApi.md
  sdks/go/docs/LogsApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/AccountsApi.md
  sdks/java/docs/LogsApi.md
  sdks/java/src/main/java/com/formance/formance/api/AccountsApi.java
  sdks/java/src/main/java/com/formance/formance/api/LogsApi.java
  sdks/php/docs/Api/AccountsApi.md
  sdks/php/docs/Api/LogsApi.md
  sdks/php/lib/Api/AccountsApi.php
  sdks/php/lib/Api/LogsApi.php
  sdks/python/Formance/paths/api_ledger_ledger_accounts/get.py
  sdks/python/Formance/paths/api_ledger_ledger_accounts/get.pyi
  sdks/python/Formance/paths/api_ledger_ledger_logs/get.py
  sdks/python/Formance/paths/api_ledger_ledger_logs/get.pyi
  sdks/python/docs/apis/tags/AccountsApi.md
  sdks/python/docs/apis/tags/LogsApi.md
  sdks/typescript-node/AccountsApi.md
  sdks/typescript-node/LogsApi.md
  sdks/typescript-node/apis/AccountsApi.ts
  sdks/typescript-node/apis/LogsApi.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
  tests/integration/suite/ledger-list-count-accounts.go
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add more integration tests about balances
  components/fctl/cmd/ledger/balances.go
  components/ledger/openapi.yaml
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/api_balances.go
  sdks/go/docs/BalancesApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/BalancesApi.md
  sdks/java/src/main/java/com/formance/formance/api/BalancesApi.java
  sdks/php/docs/Api/BalancesApi.md
  sdks/php/lib/Api/BalancesApi.php
  sdks/python/Formance/model/assets_balances.py
  sdks/python/Formance/model/assets_balances.pyi
  sdks/python/Formance/paths/api_ledger_ledger_balances/get.py
  sdks/python/Formance/paths/api_ledger_ledger_balances/get.pyi
  sdks/python/docs/apis/tags/BalancesApi.md
  sdks/typescript-node/BalancesApi.md
  sdks/typescript-node/apis/BalancesApi.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
  tests/integration/suite/ledger-balances.go
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add more integration tests about logs
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/ledger_controller.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/core/log.go
  components/ledger/pkg/storage/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/java/api/openapi.yaml
  sdks/java/docs/Log.md
  sdks/java/src/main/java/com/formance/formance/model/Log.java
  sdks/php/lib/Model/Log.php
  sdks/python/Formance/model/log.py
  sdks/python/Formance/model/log.pyi
  sdks/python/docs/models/Log.md
  sdks/typescript-node/models/Log.ts
  tests/integration/suite/ledger-balances.go
  tests/integration/suite/ledger-list-logs.go
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add more integration tests about transactions
  tests/integration/suite/ledger-list-transactions.go
  tests/integration/suite/ledger-set-metadata-on-transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix review
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  tests/integration/suite/ledger-list-count-accounts.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix tests
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/core/log.go
  tests/integration/suite/ledger-balances.go
  tests/integration/suite/ledger-list-count-accounts.go
  tests/integration/suite/ledger-list-logs.go
  tests/integration/suite/ledger-list-transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: clean openapi
  components/fctl/cmd/ledger/transactions/list.go
  components/ledger/openapi.yaml
  components/wallets/pkg/api/handler_wallets_debit_test.go
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/api_transactions.go
  sdks/go/docs/Account.md
  sdks/go/docs/TransactionsApi.md
  sdks/go/model_account.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/Account.md
  sdks/java/docs/TransactionsApi.md
  sdks/java/src/main/java/com/formance/formance/api/TransactionsApi.java
  sdks/java/src/main/java/com/formance/formance/model/Account.java
  sdks/php/docs/Api/TransactionsApi.md
  sdks/php/docs/Model/Account.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/php/lib/Model/Account.php
  sdks/python/Formance/model/account.py
  sdks/python/Formance/model/account.pyi
  sdks/python/Formance/paths/api_ledger_ledger_transactions/get.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/get.pyi
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/python/docs/models/Account.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/TransactionsApi.ts
  sdks/typescript-node/models/Account.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
  tests/integration/suite/ledger-list-count-accounts.go
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: clean openapi (#240)
  components/fctl/cmd/ledger/transactions/list.go
  components/ledger/openapi.yaml
  components/wallets/pkg/api/handler_wallets_debit_test.go
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/api_transactions.go
  sdks/go/docs/Account.md
  sdks/go/docs/TransactionsApi.md
  sdks/go/model_account.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/Account.md
  sdks/java/docs/TransactionsApi.md
  sdks/java/src/main/java/com/formance/formance/api/TransactionsApi.java
  sdks/java/src/main/java/com/formance/formance/model/Account.java
  sdks/php/docs/Api/TransactionsApi.md
  sdks/php/docs/Model/Account.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/php/lib/Model/Account.php
  sdks/python/Formance/model/account.py
  sdks/python/Formance/model/account.pyi
  sdks/python/Formance/paths/api_ledger_ledger_transactions/get.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/get.pyi
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/python/docs/models/Account.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/TransactionsApi.ts
  sdks/typescript-node/models/Account.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
  tests/integration/suite/ledger-list-count-accounts.go
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Improvement for GoReleaser
  components/ledger/.goreleaser-darwin.yml
  components/ledger/.goreleaser.yml
Due: none

feat: Add build.Dockerfile for Ledger
  components/ledger/.goreleaser.yml
  components/ledger/build.Dockerfile
Due: none

feat: add ballast package
  components/ledger/cmd/container.go
  components/ledger/cmd/serve.go
  libs/go-libs/ballast/ballast.go
  libs/go-libs/ballast/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Numscript: Send Monetary Arithmetic
  components/ledger/pkg/core/value.go
  components/ledger/pkg/machine/script/compiler/compiler.go
  components/ledger/pkg/machine/script/compiler/compiler_test.go
  components/ledger/pkg/machine/script/compiler/source.go
  components/ledger/pkg/machine/vm/machine.go
  components/ledger/pkg/machine/vm/machine_test.go
  components/ledger/pkg/machine/vm/program/instructions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add ballast package (#243)
  components/ledger/cmd/container.go
  components/ledger/cmd/serve.go
  libs/go-libs/ballast/ballast.go
  libs/go-libs/ballast/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove redundant postings denormalization
  components/ledger/cmd/container.go
  components/ledger/cmd/serve.go
  components/ledger/cmd/storage.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/storage/pagination.go
  components/ledger/pkg/storage/sqlstorage/cli.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/main_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions_test.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_column.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_column_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_offset_test.go
  components/ledger/pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  components/ledger/pkg/storage/sqlstorage/utils/utils.go
  libs/go-libs/api/response.go
  libs/go-libs/collectionutils/slice.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/suite/ledger-list-transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: reduce memory allocation of big ints inside machine
  .gitignore
  components/ledger/pkg/machine/internal/allotment.go
  components/ledger/pkg/machine/internal/funding.go
  components/ledger/pkg/machine/internal/monetary.go
  components/ledger/pkg/machine/vm/machine.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: mapping ignore destinations accounts
  components/ledger/pkg/ledger/execute_script_test.go
  components/ledger/pkg/ledger/execute_txsdata.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Ledger: openapi numscript vars example
  components/ledger/pkg/api/controllers/swagger.yaml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/java/api/openapi.yaml
Due: update-sdks

chore: Ledger: deprecation message for sqlite
  components/ledger/cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: write sqlite deprecation message to stderr
  components/ledger/cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: Ledger: deprecation message for sqlite (#245)
  components/ledger/cmd/root.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

git subrepo push components/ledger
  components/ledger/.gitrepo
Due: none
