Repository formancehq/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: components/operator/internal/controllers/stack/testdata
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: update-sdks
    name: update SDKs
    entry: ./scripts/update-sdks.sh
    description: "Update SDKs"
    language: script
    files: 'swagger.yaml|swagger.yml|openapi.yml|openapi.yaml|openapi\/Taskfile.yaml' # TODO: Refine when all specs will be on the same location
    pass_filenames: false
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

chore: bump golangci-lint
  .github/workflows/main.yml
Due: none

chore: bump golangci-lint
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

chore: upgrade build-push-action to v4
  .github/workflows/pull_request.yml
  components/payments/.github/workflows/main.yml
  libs/go-project-template/.github/workflows/build_branch.yml
  libs/go-project-template/.github/workflows/main.yml
Due: none

fix: ignore generated machine files from codecov
  components/ledger/codecov.yml
Due: none

chore: test codecov config
  README.md
  codecov.yml
Due: none

fix: CI
  components/auth/go.sum
  components/fctl/go.mod
  components/fctl/go.sum
  components/payments/go.mod
  components/payments/go.sum
  components/search/go.mod
  components/search/go.sum
  components/wallets/go.mod
  components/wallets/go.sum
  components/webhooks/go.mod
  components/webhooks/go.sum
Due: none

fix: CI
  components/ledger/Taskfile.yaml
  components/ledger/pkg/ledger/execute_txsdata.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: review gfyrag
  components/ledger/cmd/script_test.go
  components/ledger/cmd/storage_test.go
  components/ledger/pkg/ledger/execute_txsdata.go
  components/ledger/pkg/ledger/volume_agg.go
  components/ledger/pkg/storage/sqlstorage/schema.go
  go.work.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: remove go.work.sum
  go.work.sum
Due: none

chore: add tests
  components/ledger/pkg/machine/vm/machine.go
  components/ledger/pkg/machine/vm/machine_test.go
  components/ledger/pkg/machine/vm/program/instructions.go
  components/ledger/pkg/machine/vm/program/program.go
  components/ledger/pkg/machine/vm/program/program_test.go
  components/ledger/pkg/machine/vm/program/resource_test.go
  go.work.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: review gfyrag
  components/ledger/Taskfile.yaml
  components/ledger/cmd/script_test.go
  components/ledger/pkg/ledger/execute_txsdata.go
  components/ledger/pkg/ledger/volume_agg.go
  components/ledger/pkg/machine/vm/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: CI
  components/auth/go.mod
  components/auth/go.sum
  components/fctl/go.mod
  components/fctl/go.sum
  components/fctl/membershipclient/go.mod
  components/fctl/membershipclient/go.sum
  components/ledger/Taskfile.yaml
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/ledger/storage.go
  components/ledger/pkg/storage/sqlstorage/aggregations.go
  components/ledger/pkg/storage/sqlstorage/flavor.go
  components/payments/go.mod
  components/payments/go.sum
  components/search/go.mod
  components/search/go.sum
  components/wallets/go.mod
  components/wallets/go.sum
  components/webhooks/go.mod
  components/webhooks/go.sum
  go.work.sum
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  sdks/go/go.mod
  sdks/go/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: first
  components/ledger/cmd/script_test.go
  components/ledger/cmd/storage_test.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/ledger/execute_txsdata.go
  components/ledger/pkg/ledger/execute_txsdata_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: ignore generated machine files from codecov
  codecov.yml
  components/ledger/codecov.yml
Due: none

chore: update sdks
  Taskfile.yaml
  components/fctl/go.mod
  components/fctl/go.sum
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/client.go
  components/fctl/membershipclient/docs/GetServerInfo200Response.md
  components/fctl/membershipclient/go.mod
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_get_server_info_200_response.go
  components/operator/go.mod
  components/operator/go.sum
  components/orchestration/go.mod
  components/orchestration/go.sum
  components/wallets/go.sum
  libs/go-libs/go.sum
  libs/go-project-template/go.mod
  libs/go-project-template/go.sum
  openapi/Taskfile.yaml
  sdks/go/go.mod
  sdks/go/go.sum
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: update sdks
  sdks/go/test/api_accounts_test.go
Due: none

chore: update clients
  components/fctl/membershipclient/go.mod
  components/fctl/membershipclient/go.sum
Due: none

ci: Add docker build in main workflow (#77)
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
Due: none

ci: Add cache for pull_request & remove merge_queue (not work)
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
Due: none

ci: Add more CPU / RAM
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

chore: first
  components/auth/Dockerfile
  components/auth/go.mod
  components/auth/reflex.Dockerfile
  components/fctl/.golangci.yml
  components/fctl/Dockerfile
  components/fctl/go.mod
  components/fctl/go.sum
  components/gateway/Dockerfile
  components/gateway/go.mod
  components/ledger/Dockerfile
  components/ledger/docker-compose.override.yml
  components/ledger/examples/basic-auth/docker-compose.yml
  components/ledger/examples/jaeger-exporter/docker-compose.yml
  components/ledger/examples/multi-node/docker-compose.yml
  components/ledger/examples/otlp-exporter/docker-compose.yml
  components/ledger/examples/publisher-http/docker-compose.yml
  components/ledger/examples/publisher-kafka/docker-compose.yml
  components/ledger/go.mod
  components/operator/Dockerfile
  components/operator/garden/garden.Dockerfile
  components/operator/go.mod
  components/orchestration/.golangci.yml
  components/orchestration/Dockerfile
  components/orchestration/reflex.Dockerfile
  components/orchestration/temporalite.Dockerfile
  components/search/.golangci.yml
  components/search/Dockerfile
  components/search/docker-compose.yml
  components/wallets/Dockerfile
  components/wallets/go.sum
  components/webhooks/Dockerfile
  libs/go-project-template/Dockerfile
  libs/go-project-template/go.mod
  libs/go-project-template/reflex.Dockerfile
Due: none

chore: Bump Go to 1.19 (#82)
  components/auth/Dockerfile
  components/auth/go.mod
  components/auth/reflex.Dockerfile
  components/fctl/.golangci.yml
  components/fctl/Dockerfile
  components/fctl/go.mod
  components/fctl/go.sum
  components/gateway/Dockerfile
  components/gateway/go.mod
  components/ledger/Dockerfile
  components/ledger/docker-compose.override.yml
  components/ledger/examples/basic-auth/docker-compose.yml
  components/ledger/examples/jaeger-exporter/docker-compose.yml
  components/ledger/examples/multi-node/docker-compose.yml
  components/ledger/examples/otlp-exporter/docker-compose.yml
  components/ledger/examples/publisher-http/docker-compose.yml
  components/ledger/examples/publisher-kafka/docker-compose.yml
  components/ledger/go.mod
  components/operator/Dockerfile
  components/operator/garden/garden.Dockerfile
  components/operator/go.mod
  components/orchestration/.golangci.yml
  components/orchestration/Dockerfile
  components/orchestration/reflex.Dockerfile
  components/orchestration/temporalite.Dockerfile
  components/search/.golangci.yml
  components/search/Dockerfile
  components/search/docker-compose.yml
  components/wallets/Dockerfile
  components/wallets/go.sum
  components/webhooks/Dockerfile
  libs/go-project-template/Dockerfile
  libs/go-project-template/go.mod
  libs/go-project-template/reflex.Dockerfile
Due: none

ci: Add cache for pull_request & remove merge_queue (doesn't work) (#81)
  .github/workflows/merge_queue.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

fix(fctl): panic on activity errors
  components/fctl/cmd/orchestration/instances/describe.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: always send health field in /versions json response
  .gitignore
  components/gateway/pkg/plugins/versions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: always send health field in /versions json response (#85)
  .gitignore
  components/gateway/pkg/plugins/versions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: stabilize CI
  .github/workflows/main.yml
  components/payments/.github/ISSUE_TEMPLATE/bug_report.md
  components/payments/.github/ISSUE_TEMPLATE/feature_request.md
  components/payments/.github/dependabot.yml
  components/payments/.github/workflows/codeql.yml
  components/payments/.github/workflows/main.yml
Due: none

fix: stabilize CI
  components/ledger/cmd/script_test.go
  components/ledger/cmd/storage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: add cmd tests back
  components/ledger/cmd/script_test.go
  components/ledger/cmd/storage_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: CI main
  .github/workflows/main.yml
Due: none

fix: main CI workflow (#83)
  .github/workflows/main.yml
  components/payments/.github/ISSUE_TEMPLATE/bug_report.md
  components/payments/.github/ISSUE_TEMPLATE/feature_request.md
  components/payments/.github/dependabot.yml
  components/payments/.github/workflows/codeql.yml
  components/payments/.github/workflows/main.yml
Due: none
