Repository formancehq/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: components/operator/internal/controllers/stack/testdata
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: update-sdks
    name: update SDKs
    entry: ./scripts/update-sdks.sh
    description: "Update SDKs"
    language: script
    files: 'swagger.yaml|swagger.yml|openapi.yml|openapi.yaml|openapi\/Taskfile.yaml' # TODO: Refine when all specs will be on the same location
    pass_filenames: false
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

fix: query worker init
  components/ledger/pkg/ledger/module.go
  components/ledger/pkg/ledger/query/init.go
  components/ledger/pkg/ledger/query/module.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  tests/integration/internal/gateway.go
  tests/integration/suite/ledger-set-metadata-on-account.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: store worker is now configurable (#206)
  components/ledger/Procfile
  components/ledger/cmd/container.go
  components/ledger/cmd/root.go
  components/ledger/cmd/storage_test.go
  components/ledger/pkg/storage/sqlstorage/cli.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/main_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  components/ledger/pkg/storage/sqlstorage/worker/worker.go
  components/ledger/pkg/storage/sqlstorage/worker/worker_test.go
  docs/docs/ledger/operations/env-vars.md
  docs/docs/ledger/operations/storages.md
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: hash
  components/ledger/pkg/core/log.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add benchmark and optimize logs hashing
  .gitignore
  components/ledger/pkg/api/controllers/utils_test.go
  components/ledger/pkg/core/log.go
  components/ledger/pkg/core/metadata.go
  components/ledger/pkg/core/posting.go
  components/ledger/pkg/core/transaction.go
  components/ledger/pkg/core/transaction_test.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  libs/go-libs/collectionutils/map.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: machine involved accounts resolution
  components/ledger/pkg/machine/vm/machine.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: enable uuid rand pool for uuid generation
  components/ledger/pkg/core/transaction.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: keep last log in memory
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: allow core to handle transactions aynchronously
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/api.go
  components/ledger/pkg/api/controllers/api_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/ledger/query/worker_test.go
  components/ledger/pkg/ledger/revert/reverter.go
  components/ledger/pkg/ledger/revert/reverter_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: clean openapi (#240)
  components/fctl/cmd/ledger/transactions/list.go
  components/ledger/openapi.yaml
  components/wallets/pkg/api/handler_wallets_debit_test.go
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/api_transactions.go
  sdks/go/docs/Account.md
  sdks/go/docs/TransactionsApi.md
  sdks/go/model_account.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/Account.md
  sdks/java/docs/TransactionsApi.md
  sdks/java/src/main/java/com/formance/formance/api/TransactionsApi.java
  sdks/java/src/main/java/com/formance/formance/model/Account.java
  sdks/php/docs/Api/TransactionsApi.md
  sdks/php/docs/Model/Account.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/php/lib/Model/Account.php
  sdks/python/Formance/model/account.py
  sdks/python/Formance/model/account.pyi
  sdks/python/Formance/paths/api_ledger_ledger_transactions/get.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/get.pyi
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/python/docs/models/Account.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/TransactionsApi.ts
  sdks/typescript-node/models/Account.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
  tests/integration/suite/ledger-list-count-accounts.go
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

refactor: reduce memory allocation of big ints inside machine
  .gitignore
  components/ledger/pkg/machine/internal/allotment.go
  components/ledger/pkg/machine/internal/funding.go
  components/ledger/pkg/machine/internal/monetary.go
  components/ledger/pkg/machine/vm/machine.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add build.Dockerfile for Ledger
  components/ledger/.goreleaser.yml
  components/ledger/build.Dockerfile
Due: none

feat: add ballast package (#243)
  components/ledger/cmd/container.go
  components/ledger/cmd/serve.go
  libs/go-libs/ballast/ballast.go
  libs/go-libs/ballast/module.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove redundant postings denormalization
  components/ledger/cmd/container.go
  components/ledger/cmd/serve.go
  components/ledger/cmd/storage.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/storage/pagination.go
  components/ledger/pkg/storage/sqlstorage/cli.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/main_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions_test.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_column.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_column_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_offset_test.go
  components/ledger/pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  components/ledger/pkg/storage/sqlstorage/utils/utils.go
  libs/go-libs/api/response.go
  libs/go-libs/collectionutils/slice.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/suite/ledger-list-transactions.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Improvement for GoReleaser
  components/ledger/.goreleaser-darwin.yml
  components/ledger/.goreleaser.yml
Due: none

fix: fix operator tests
  components/operator/internal/controllers/stack/testdata/monopod/deployments-apps-v1/stack2.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
Due: none

feat: use logger with json formatter
  components/ledger/cmd/root.go
  components/ledger/cmd/serve.go
  libs/go-libs/service/app.go
  libs/go-libs/service/logging.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: use logger with json formatter (#247)
  components/ledger/cmd/root.go
  libs/go-libs/service/app.go
  libs/go-libs/service/logging.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

ci: Add Control
  components/ledger/.github/workflows/release.yml
Due: none

ci: rework Dockerfile for Ledger
  components/ledger/Dockerfile
Due: none

feat(Ledger): Add Auto-upgrade when libs is updated
  .pre-commit-config.yaml
  components/ledger/libs/.github/dependabot.yml
  components/ledger/libs/.github/workflows/codeql.yml
  components/ledger/libs/.github/workflows/main.yml
  components/ledger/libs/.github/workflows/pr-open.yml
  components/ledger/libs/.gitignore
  components/ledger/libs/.gitrepo
  components/ledger/libs/.golangci.yml
  components/ledger/libs/.pre-commit-config.yaml
  components/ledger/libs/README.md
  libs/go-libs/README.md
  scripts/update-libs.sh
Due: none

feat(Ledger): Add Auto-upgrade when libs is updated (#249)
  .pre-commit-config.yaml
  components/ledger/libs/.github/dependabot.yml
  components/ledger/libs/.github/workflows/codeql.yml
  components/ledger/libs/.github/workflows/main.yml
  components/ledger/libs/.github/workflows/pr-open.yml
  components/ledger/libs/.gitignore
  components/ledger/libs/.gitrepo
  components/ledger/libs/.golangci.yml
  components/ledger/libs/.pre-commit-config.yaml
  components/ledger/libs/README.md
  libs/go-libs/README.md
  scripts/update-libs.sh
Due: none

refactor: make commit process only use logs (not projections)
  components/ledger/pkg/core/log.go
  components/ledger/pkg/ledger/command/commander.go
  components/ledger/pkg/ledger/command/commander_test.go
  components/ledger/pkg/ledger/command/context.go
  components/ledger/pkg/ledger/command/state.go
  components/ledger/pkg/ledger/command/store.go
  components/ledger/pkg/storage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  libs/go-libs/collectionutils/slice.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: change status code to 204 on HEAD /transactions and /accounts
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/java/api/openapi.yaml
  sdks/java/docs/AccountsApi.md
  sdks/java/docs/TransactionsApi.md
  sdks/python/Formance/paths/api_ledger_ledger_accounts/head.py
  sdks/python/Formance/paths/api_ledger_ledger_accounts/head.pyi
  sdks/python/Formance/paths/api_ledger_ledger_transactions/head.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/head.pyi
  sdks/python/docs/apis/tags/AccountsApi.md
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/python/test/test_paths/test_api_ledger_ledger_accounts/test_head.py
  sdks/python/test/test_paths/test_api_ledger_ledger_transactions/test_head.py
  sdks/typescript-node/AccountsApi.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/AccountsApi.ts
  sdks/typescript-node/apis/TransactionsApi.ts
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: fix memory leak with store logs worker not closed
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: rename preview to dry run
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/api_transactions.go
  sdks/go/docs/TransactionsApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/TransactionsApi.md
  sdks/java/src/main/java/com/formance/formance/api/TransactionsApi.java
  sdks/php/docs/Api/TransactionsApi.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/python/Formance/paths/api_ledger_ledger_transactions/post.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/post.pyi
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/TransactionsApi.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: fix memory leak with store logs worker not closed (#257)
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: disallow empty accounts
  components/ledger/pkg/machine/internal/account.go
  components/ledger/pkg/machine/machine_test.go
  components/ledger/pkg/machine/vm/machine_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: change status code from 200 to 201 on revert transactions
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/java/api/openapi.yaml
  sdks/java/docs/TransactionsApi.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/python/Formance/paths/api_ledger_ledger_transactions_txid_revert/post.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions_txid_revert/post.pyi
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/python/test/test_paths/test_api_ledger_ledger_transactions_txid_revert/test_post.py
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/TransactionsApi.ts
Due: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests
