Repository formancehq/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

.pre-commit-config.yaml:

fail_fast: true
exclude: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: components/operator/internal/controllers/stack/testdata
  - id: end-of-file-fixer
  - id: check-yaml
    exclude: services/orchestration/examples
    args: [--allow-multiple-documents]
  - id: check-added-large-files
- repo: local
  hooks:
  - id: update-sdks
    name: update SDKs
    entry: ./scripts/update-sdks.sh
    description: "Update SDKs"
    language: script
    files: 'swagger.yaml|swagger.yml|openapi.yml|openapi.yaml|openapi\/Taskfile.yaml' # TODO: Refine when all specs will be on the same location
    pass_filenames: false
  - id: gofmt
    name: gofmt
    entry: ./scripts/gofmt.sh
    description: "Runs `go fmt`, requires golang"
    language: script
    files: \.go$
    require_serial: true
  - id: goimports
    name: goimports
    entry: ./scripts/goimports.sh
    files: \.go$
    description: "Runs `goimports`, requires golang"
    language: script
    require_serial: true
  - id: gomodtidy
    name: gomodtidy
    entry: ./scripts/gomodtidy.sh
    language: script
    files: \.go$
    description: "Runs `go mod tidy`, requires golang"
    require_serial: true
  - id: golangci-lint
    name: golangci-lint
    entry: ./scripts/golangci-lint.sh
    language: script
    files: \.go$
    description: "Runs `golangci-lint`, requires golangci-lint"
    require_serial: true
  - id: gotests
    name: gotests
    entry: ./scripts/gotests.sh
    language: script
    files: \.go$
    description: "Runs `go test`, requires golang"
    require_serial: true
    # Test requires to start a docker compose, we need to remove this need or find a generic way to start/stop dependencies
    exclude: components/webhooks
  - id: commitlint
    name: commitlint
    description: Commitlint hook
    language: node
    entry: commitlint --edit
    always_run: true
    pass_filenames: false
    additional_dependencies: ['@commitlint/config-conventional']
    stages:
    - commit-msg

feat: Remove NUMARY_ prefix on ledger and update operator (#94)
  components/ledger/cmd/root_test.go
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_ledger.go
  components/operator/internal/modules/service.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated flags and add --bind flag on ledger (replace --server.http.bind_address)" (#97)
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_ledger.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat/num 1546 ledger replace server start by serve (#101)
  components/ledger/cmd/root_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: remove deprecated ledger field for event message (#150)
  components/ledger/pkg/bus/message.go
  components/search/benthos/streams/ledger_ingestion.yaml
  components/search/benthos/streams/ledger_reindex_accounts.yaml
  components/search/benthos/streams/ledger_reindex_transactions.yaml
  components/search/benthos/streams/ledger_reindex_volumes.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: replace goose by handcradfted library (#121)
  tests/integration/go.mod
  tests/integration/go.sum
Due: none

feat: integrate webhooks api
  components/ledger/pkg/ledgertesting/storage.go
  components/webhooks/cmd/flag/flags.go
  components/webhooks/cmd/root.go
  components/webhooks/cmd/serve.go
  components/webhooks/cmd/version.go
  components/webhooks/cmd/worker.go
  components/webhooks/docker-compose.yml
  components/webhooks/go.mod
  components/webhooks/go.sum
  components/webhooks/pkg/httpserver/httpserver.go
  components/webhooks/pkg/server/module.go
  components/webhooks/pkg/storage/postgres/main_test.go
  components/webhooks/pkg/storage/postgres/module.go
  components/webhooks/pkg/storage/postgres/postgres.go
  components/webhooks/pkg/storage/postgres/postgres_test.go
  components/webhooks/pkg/worker/handler.go
  components/webhooks/pkg/worker/module.go
  components/webhooks/test/data_test.go
  components/webhooks/test/main_test.go
  components/webhooks/test/server_test.go
  components/webhooks/test/worker_test.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/bootstrap.go
  tests/integration/suite/ledger-create-transaction-with-webhook.go
  tests/integration/suite/webhooks-list-configs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: new webhooks tests
  components/webhooks/go.mod
  components/webhooks/go.sum
  components/webhooks/pkg/server/activation.go
  components/webhooks/pkg/server/delete.go
  components/webhooks/pkg/server/get.go
  components/webhooks/pkg/server/insert.go
  components/webhooks/pkg/server/secret.go
  components/webhooks/pkg/server/test.go
  components/webhooks/pkg/storage/postgres/postgres.go
  components/webhooks/pkg/worker/module.go
  components/webhooks/test/kafka/client.go
  tests/integration/Taskfile.yaml
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/internal/nats.go
  tests/integration/internal/postgres.go
  tests/integration/suite/ledger-create-transaction-with-webhook.go
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-set-metadata-on-account.go
  tests/integration/suite/payments-connectors-dummy-pay.go
  tests/integration/suite/payments-connectors-stripe.go
  tests/integration/suite/test/data_test.go
  tests/integration/suite/test/main_test.go
  tests/integration/suite/test/server_test.go
  tests/integration/suite/test/worker_test.go
  tests/integration/suite/wallets-create.go
  tests/integration/suite/webhooks-configs.go
  tests/integration/suite/webhooks-list-configs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Taskfile
  Taskfile.yaml
Due: none

chore: more webhooks tests
  tests/integration/.golangci.yml
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/suite/payments-connectors-dummy-pay.go
  tests/integration/suite/webhooks-configs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cleanup
  components/ledger/pkg/ledgertesting/storage.go
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/internal/nats.go
  tests/integration/internal/postgres.go
  tests/integration/suite/ledger-create-transaction-with-webhook.go
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-set-metadata-on-account.go
  tests/integration/suite/payments-connectors-dummy-pay.go
  tests/integration/suite/payments-connectors-stripe.go
  tests/integration/suite/wallets-create.go
  tests/integration/suite/webhooks-configs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add orchestration (#123)
  components/orchestration/internal/storage/module.go
  components/payments/internal/app/storage/module.go
  components/webhooks/pkg/storage/postgres/module.go
  components/webhooks/pkg/storage/postgres/postgres.go
  tests/integration/docker-compose.yml
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/bootstrap.go
  tests/integration/internal/externals.go
  tests/integration/internal/helpers.go
  tests/integration/suite/orchestration-workflows-create.go
  tests/integration/suite/orchestration-workflows-execute-with-error.go
  tests/integration/suite/orchestration-workflows-execute.go
  tests/integration/suite/orchestration-workflows-list.go
  tests/integration/temporalite.Dockerfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: remove benthos wrong formatting
  components/search/benthos/streams/ledger_ingestion.yaml
  components/search/benthos/streams/ledger_reindex_accounts.yaml
  components/search/benthos/streams/ledger_reindex_transactions.yaml
  components/search/benthos/streams/ledger_reindex_volumes.yaml
Due: none

fix: fix operator tests with benthos
  components/operator/internal/controllers/stack/testdata/monopod/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod/configmaps--v1/search-benthos-streams.yaml
Due: none

fix: fix operator tests with benthos (#151)
  components/operator/internal/controllers/stack/testdata/monopod/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod/configmaps--v1/search-benthos-streams.yaml
  components/search/benthos/streams/ledger_ingestion.yaml
  components/search/benthos/streams/ledger_reindex_accounts.yaml
  components/search/benthos/streams/ledger_reindex_transactions.yaml
  components/search/benthos/streams/ledger_reindex_volumes.yaml
Due: none

chore: cleanup
  components/fctl/Taskfile.yaml
  components/ledger/cmd/root_test.go
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_ledger.go
  components/operator/internal/modules/service.go
  components/orchestration/internal/storage/module.go
  components/payments/Taskfile.yml
  components/wallets/pkg/ledger_interface.go
  components/webhooks/cmd/flag/flags.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: cleanup
  components/auth/go.mod
  components/auth/go.sum
  components/gateway/go.mod
  components/gateway/go.sum
  components/ledger/pkg/analytics/segment.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/storage/sqlstorage/errors/errors.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations.go
  components/ledger/pkg/storage/sqlstorage/system/configuration.go
  libs/go-libs/.github/dependabot.yml
  libs/go-libs/.github/workflows/codeql.yml
  libs/go-libs/.github/workflows/main.yml
  libs/go-libs/.github/workflows/pr-open.yml
  libs/go-libs/api/apierrors/apierrors.go
  libs/go-libs/sqlstorage/sqlerrors/sqlerrors.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: cleanup
  tests/integration/doc.go
  tests/integration/go.mod
  tests/integration/go.sum
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: cleanup
  components/ledger/go.mod
  components/ledger/go.sum
  components/wallets/go.mod
  components/wallets/go.sum
  tests/integration/Taskfile.yaml
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/sdk.go
  tests/integration/suite/payments-connectors-reset.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Update docs/docs/ledger/numscript/metadata/index.mdx
  docs/docs/ledger/numscript/metadata/index.mdx
Due: none

Update docs/docs/ledger/numscript/overdraft/index.mdx
  docs/docs/ledger/numscript/overdraft/index.mdx
Due: none

docs: improve clarity and accuracy in file updates
  docs/docs/ledger/numscript/metadata/index.mdx
  docs/docs/ledger/numscript/overdraft/index.mdx
Due: none

docs: update ledger documentation with 1.9 features
  docs/docs/ledger/numscript/metadata/index.mdx
  docs/docs/ledger/numscript/overdraft/index.mdx
  docs/docs/ledger/reference/numscript/sources.mdx
  docs/sidebars.js
Due: none

ledger: switch to protobuf for bus
  components/ledger/cmd/container_test.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/bus/message.go
  components/ledger/pkg/bus/monitor.go
  components/ledger/pkg/core/log.go
  components/ledger/pkg/core/metadata.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/monitor.go
  libs/events/testing/testing.pb.go
  libs/events/testing/testing.proto
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  libs/go-libs/publish/messages.go
  libs/go-libs/publish/module_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

payments: switch to protobuf for bus messages
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/app/ingestion/accounts.go
  components/payments/internal/app/ingestion/payments.go
  components/payments/internal/app/integration/manager.go
  components/payments/internal/app/messages/accounts.go
  components/payments/internal/app/messages/connectors.go
  components/payments/internal/app/messages/payments.go
  components/payments/internal/app/models/account.go
  components/payments/pkg/events/event.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

webhooks: receive protobuf from bus
  components/webhooks/go.mod
  components/webhooks/go.sum
  components/webhooks/pkg/message.go
  components/webhooks/pkg/worker/module.go
  components/webhooks/test/data_test.go
  components/webhooks/test/worker_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint

feat: add protobuf libs for bus messages
  .pre-commit-config.yaml
  libs/events/Makefile
  libs/events/events.go
  libs/events/events.pb.go
  libs/events/events.proto
  libs/events/events_test.go
  libs/events/go.mod
  libs/events/go.sum
  libs/events/ledger/transactions.pb.go
  libs/events/ledger/transactions.proto
  libs/events/ledger/volumes.pb.go
  libs/events/ledger/volumes.proto
  libs/events/payments/account.pb.go
  libs/events/payments/account.proto
  libs/events/payments/connector.pb.go
  libs/events/payments/connector.proto
  libs/events/payments/payments.pb.go
  libs/events/payments/payments.proto
  libs/events/v1/base/base.yaml
  libs/events/v1/ledger/COMMITTED_TRANSACTIONS.yaml
  libs/events/v1/ledger/SAVED_METADATA.yaml
  libs/events/v1/payments/CONNECTOR_RESET.yaml
  libs/events/v1/payments/SAVED_PAYMENT.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: prepare multi account lock interface
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/execute_script_test.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/lock.go
  components/ledger/pkg/machine/errors.go
  components/ledger/pkg/machine/machine.go
  components/ledger/pkg/machine/machine_test.go
  components/ledger/pkg/machine/vm/program/program.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

docs: add installation guide for creating a stack
  docs/docs/ledger/get-started/installation.mdx
Due: none

fix tests
  components/ledger/pkg/bus/message.go
  components/payments/internal/app/models/connector.go
  components/payments/internal/app/models/payment.go
  go.mod
  go.sum
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-set-metadata-on-account.go
  tests/integration/suite/payments-connectors-dummy-pay.go
  tests/integration/suite/payments-connectors-reset.go
  tests/integration/suite/payments-connectors-stripe.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): Add error management for nats
  components/operator/internal/modules/service.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(operator): Create Nats Topic in Operator (#135)
  components/operator/config/rbac/role.yaml
  components/operator/go.mod
  components/operator/go.sum
  components/operator/internal/controllers/stack/stack_reconciler.go
  components/operator/internal/controllers/stack/testdata/monopod/configmaps--v1/search-benthos-resources.yaml
  components/operator/internal/controllers/stack/testdata/monopod/deployments-apps-v1/stack2.yaml
  components/operator/internal/controllers/stack/testdata/multipod/configmaps--v1/search-benthos-resources.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/handlers/handler_ledger.go
  components/operator/internal/handlers/handler_payments.go
  components/operator/internal/handlers/handler_search.go
  components/operator/internal/modules/service.go
  components/search/benthos/resources/output_elasticsearch.yaml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests
