Repository formancehq/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-sdks, gofmt, goimports, gomodtidy, golangci-lint, gotests

update-sdks:
  name: update SDKs
  entry: ./scripts/update-sdks.sh
  description: Update SDKs
  language: script
  pass_filenames: false

gofmt:
  name: gofmt
  entry: ./scripts/gofmt.sh
  description: Runs `go fmt`, requires golang
  language: script
  require_serial: true

goimports:
  name: goimports
  entry: ./scripts/goimports.sh
  description: Runs `goimports`, requires golang
  language: script
  require_serial: true

gomodtidy:
  name: gomodtidy
  entry: ./scripts/gomodtidy.sh
  language: script
  description: Runs `go mod tidy`, requires golang
  require_serial: true

golangci-lint:
  name: golangci-lint
  entry: ./scripts/golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, requires golangci-lint
  require_serial: true

gotests:
  name: gotests
  entry: ./scripts/gotests.sh
  language: script
  description: Runs `go test`, requires golang
  require_serial: true

chore: update readme
  README.md
Due: none

feat: Add Windows build for FCTL
  components/fctl/.goreleaser.yml
Due: none

chore: add example in the description for metadata filter
  components/ledger/pkg/api/controllers/swagger.yaml
Due: update-sdks

feat: Add Windows build for FCTL (#114)
  components/fctl/.goreleaser.yml
Due: none

fix: parallel testing
  components/ledger/docker-compose.yml
Due: none

feat: use pgtesting from go-libs
  components/ledger/cmd/internal/analytics_test.go
  components/ledger/cmd/internal/main_test.go
  components/ledger/cmd/root_test.go
  components/ledger/cmd/storage_test.go
  components/ledger/go.mod
  components/ledger/internal/pgtesting/testing.go
  components/ledger/pkg/analytics/main_test.go
  components/ledger/pkg/analytics/segment_test.go
  components/ledger/pkg/api/controllers/main_test.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/api/internal/testing.go
  components/ledger/pkg/api/middlewares/main_test.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/storage/sqlstorage/accounts_test.go
  components/ledger/pkg/storage/sqlstorage/driver_test.go
  components/ledger/pkg/storage/sqlstorage/main_test.go
  components/ledger/pkg/storage/sqlstorage/migrate_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/13-clean-logs/any_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/9-add-pre-post-volumes/any_test.go
  components/ledger/pkg/storage/sqlstorage/store_ledger_test.go
  components/ledger/pkg/storage/sqlstorage/transactions_test.go
  libs/go-libs/pgtesting/postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: missing file
  components/ledger/pkg/ledger/main_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: local testing (#116)
  components/ledger/docker-compose.yml
Due: none

feat: use pgtesting from go libs (#112)
  components/ledger/cmd/internal/analytics_test.go
  components/ledger/cmd/internal/main_test.go
  components/ledger/cmd/root_test.go
  components/ledger/cmd/storage_test.go
  components/ledger/go.mod
  components/ledger/internal/pgtesting/testing.go
  components/ledger/pkg/analytics/main_test.go
  components/ledger/pkg/analytics/segment_test.go
  components/ledger/pkg/api/controllers/main_test.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/api/internal/testing.go
  components/ledger/pkg/api/middlewares/main_test.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/main_test.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/storage/sqlstorage/accounts_test.go
  components/ledger/pkg/storage/sqlstorage/driver_test.go
  components/ledger/pkg/storage/sqlstorage/main_test.go
  components/ledger/pkg/storage/sqlstorage/migrate_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/13-clean-logs/any_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/17-optimized-segments/any_test.go
  components/ledger/pkg/storage/sqlstorage/migrates/9-add-pre-post-volumes/any_test.go
  components/ledger/pkg/storage/sqlstorage/store_ledger_test.go
  components/ledger/pkg/storage/sqlstorage/transactions_test.go
  libs/go-libs/pgtesting/postgres.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: docker compose entry points
  docker-compose.override.yml
Due: none

fix: docker-compose entrypoints (#118)
  docker-compose.override.yml
Due: none

chore: first
  components/ledger/.goreleaser-darwin.yml
  components/ledger/.goreleaser.yml
  components/ledger/Dockerfile
  components/ledger/Taskfile.yaml
  components/ledger/docker-compose.yml
  docker-compose.yml
  libs/go-libs/metadata/metadata.go
  libs/go-libs/pgtesting/postgres.go
  tests/loadtesting/docker-compose.ledger.override.yml
  tests/loadtesting/docker-compose.ledger.yml
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: fix docker compose
  .github/workflows/pr_ledger.yml
  docker-compose.override.yml
  docker-compose.yml
  reflex.Dockerfile
  tests/loadtesting/README.md
  tests/loadtesting/Taskfile.yaml
Due: none

chore: revert modifs
  .github/workflows/pr_ledger.yml
  tests/loadtesting/README.md
  tests/loadtesting/Taskfile.yaml
  tests/loadtesting/docker-compose.ledger.override.yml
Due: none

feat: add --worker flag on main service to embed worker
  components/orchestration/cmd/root.go
  components/orchestration/cmd/serve.go
  components/orchestration/cmd/version.go
  components/orchestration/cmd/worker.go
  components/orchestration/docker-compose.yml
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/api/router.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: increase es index creation timeout
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat(orchestration): add --worker flag to embed worker on main service (#120)
  components/orchestration/cmd/root.go
  components/orchestration/cmd/serve.go
  components/orchestration/cmd/version.go
  components/orchestration/cmd/worker.go
  components/orchestration/docker-compose.yml
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/api/router.go
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: replace Goose by handcrafted shared library
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/payments.yaml
  components/operator/internal/handlers/handler_payments.go
  components/orchestration/cmd/serve.go
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/storage/migrations.go
  components/orchestration/internal/workflow/manager_test.go
  components/payments/cmd/migrate.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/app/migrations/001_initiate_schemas.go
  components/payments/internal/app/migrations/002_connectors.go
  components/payments/internal/app/migrations/003_tasks.go
  components/payments/internal/app/migrations/004_accounts.go
  components/payments/internal/app/migrations/005_payments.go
  components/payments/internal/app/migrations/006_conifg_encryption.go
  components/payments/internal/app/migrations/007_transfers.go
  components/payments/internal/app/storage/migrations.go
  libs/go-libs/migrations/migration.go
  libs/go-libs/migrations/migrator.go
  libs/go-libs/migrations/migrator_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add debug of queries
  components/orchestration/cmd/serve.go
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/storage/migrations.go
  components/orchestration/internal/workflow/manager_test.go
  components/payments/cmd/migrate.go
  components/payments/internal/app/storage/migrations.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  libs/go-libs/migrations/migration.go
  libs/go-libs/migrations/migrator.go
  libs/go-libs/migrations/migrator_test.go
  tests/integration/docker-compose.yml
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/internal/helpers.go
  tests/integration/internal/opensearch.go
  tests/integration/internal/postgres.go
  tests/integration/internal/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: mess
  components/orchestration/cmd/root.go
  components/orchestration/cmd/serve.go
  components/orchestration/cmd/worker.go
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/storage/module.go
  components/orchestration/internal/workflow/manager_test.go
  components/payments/cmd/migrate.go
  components/payments/internal/app/storage/migrations.go
  tests/integration/docker-compose.yml
  tests/integration/internal/bootstrap.go
  tests/integration/internal/externals.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: replace goose by handcradfted library (#121)
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/payments.yaml
  components/operator/internal/handlers/handler_payments.go
  components/orchestration/cmd/root.go
  components/orchestration/cmd/serve.go
  components/orchestration/cmd/worker.go
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/storage/migrations.go
  components/orchestration/internal/storage/module.go
  components/orchestration/internal/workflow/manager_test.go
  components/payments/cmd/migrate.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/app/migrations/001_initiate_schemas.go
  components/payments/internal/app/migrations/002_connectors.go
  components/payments/internal/app/migrations/003_tasks.go
  components/payments/internal/app/migrations/004_accounts.go
  components/payments/internal/app/migrations/005_payments.go
  components/payments/internal/app/migrations/006_conifg_encryption.go
  components/payments/internal/app/migrations/007_transfers.go
  components/payments/internal/app/storage/migrations.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  libs/go-libs/migrations/migration.go
  libs/go-libs/migrations/migrator.go
  libs/go-libs/migrations/migrator_test.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/internal/externals.go
  tests/integration/internal/helpers.go
  tests/integration/internal/opensearch.go
  tests/integration/internal/postgres.go
  tests/integration/internal/utils.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: integrate webhooks api
  components/ledger/pkg/ledgertesting/storage.go
  components/webhooks/cmd/flag/flags.go
  components/webhooks/cmd/root.go
  components/webhooks/cmd/serve.go
  components/webhooks/cmd/version.go
  components/webhooks/cmd/worker.go
  components/webhooks/docker-compose.yml
  components/webhooks/go.mod
  components/webhooks/go.sum
  components/webhooks/pkg/httpserver/httpserver.go
  components/webhooks/pkg/server/module.go
  components/webhooks/pkg/storage/postgres/main_test.go
  components/webhooks/pkg/storage/postgres/module.go
  components/webhooks/pkg/storage/postgres/postgres.go
  components/webhooks/pkg/storage/postgres/postgres_test.go
  components/webhooks/pkg/worker/handler.go
  components/webhooks/pkg/worker/module.go
  components/webhooks/test/data_test.go
  components/webhooks/test/main_test.go
  components/webhooks/test/server_test.go
  components/webhooks/test/worker_test.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/bootstrap.go
  tests/integration/suite/ledger-create-transaction-with-webhook.go
  tests/integration/suite/webhooks-list-configs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: new webhooks tests
  components/operator/internal/controllers/stack/stack_reconciler_test.go
  components/webhooks/go.mod
  components/webhooks/go.sum
  components/webhooks/pkg/server/activation.go
  components/webhooks/pkg/server/delete.go
  components/webhooks/pkg/server/get.go
  components/webhooks/pkg/server/insert.go
  components/webhooks/pkg/server/secret.go
  components/webhooks/pkg/server/test.go
  components/webhooks/pkg/storage/postgres/postgres.go
  components/webhooks/pkg/worker/module.go
  components/webhooks/test/kafka/client.go
  tests/integration/Taskfile.yaml
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/internal/nats.go
  tests/integration/internal/postgres.go
  tests/integration/suite/ledger-create-transaction-with-webhook.go
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-set-metadata-on-account.go
  tests/integration/suite/payments-dummy-pay-connector.go
  tests/integration/suite/payments-stripe-connector.go
  tests/integration/suite/test/data_test.go
  tests/integration/suite/test/main_test.go
  tests/integration/suite/test/server_test.go
  tests/integration/suite/test/worker_test.go
  tests/integration/suite/wallets-create.go
  tests/integration/suite/webhooks-configs.go
  tests/integration/suite/webhooks-list-configs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

chore: more webhooks tests
  tests/integration/.golangci.yml
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/suite/payments-dummy-pay-connector.go
  tests/integration/suite/webhooks-configs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: Taskfile
  Taskfile.yaml
Due: none

fix: cleanup
  components/ledger/pkg/ledgertesting/storage.go
  components/operator/internal/controllers/stack/stack_reconciler_test.go
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/internal/nats.go
  tests/integration/internal/postgres.go
  tests/integration/suite/ledger-create-transaction-with-webhook.go
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-set-metadata-on-account.go
  tests/integration/suite/payments-dummy-pay-connector.go
  tests/integration/suite/payments-stripe-connector.go
  tests/integration/suite/wallets-create.go
  tests/integration/suite/webhooks-configs.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: Add orchestration to integration tests
  components/orchestration/internal/storage/module.go
  components/payments/internal/app/storage/module.go
  components/webhooks/pkg/storage/postgres/module.go
  components/webhooks/pkg/storage/postgres/postgres.go
  tests/integration/docker-compose.yml
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/bootstrap.go
  tests/integration/internal/externals.go
  tests/integration/internal/helpers.go
  tests/integration/suite/orchestration-workflows-create.go
  tests/integration/suite/orchestration-workflows-execute-with-error.go
  tests/integration/suite/orchestration-workflows-execute.go
  tests/integration/suite/orchestration-workflows-list.go
  tests/integration/temporalite.Dockerfile
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

feat: add todo
  tests/integration/internal/bootstrap.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: otlp env var
  components/operator/config/crd/bases/benthos.components.formance.com_servers.yaml
  components/operator/config/crd/bases/components.formance.com_auths.yaml
  components/operator/config/crd/bases/components.formance.com_controls.yaml
  components/operator/config/crd/bases/components.formance.com_ledgers.yaml
  components/operator/config/crd/bases/components.formance.com_orchestrations.yaml
  components/operator/config/crd/bases/components.formance.com_searches.yaml
  components/operator/config/crd/bases/stack.formance.com_configurations.yaml
  components/operator/config/crd/bases/stack.formance.com_stacks.yaml
  components/operator/internal/controllers/stack/suite_test.go
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/control.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/search.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_gateway.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix: otlp env var (#124)
  components/operator/config/crd/bases/benthos.components.formance.com_servers.yaml
  components/operator/config/crd/bases/components.formance.com_auths.yaml
  components/operator/config/crd/bases/components.formance.com_controls.yaml
  components/operator/config/crd/bases/components.formance.com_ledgers.yaml
  components/operator/config/crd/bases/components.formance.com_orchestrations.yaml
  components/operator/config/crd/bases/components.formance.com_searches.yaml
  components/operator/config/crd/bases/stack.formance.com_configurations.yaml
  components/operator/config/crd/bases/stack.formance.com_stacks.yaml
  components/operator/internal/controllers/stack/suite_test.go
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/control.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/search.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_gateway.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

sqlstorage: add new errors package for postgres errors
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/storage/sqlstorage/errors/errors.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix tests
  components/ledger/cmd/storage.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/balances.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/main_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/17-optimized-segments/any_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations_test.go
  components/ledger/pkg/storage/sqlstorage/module.go
  components/ledger/pkg/storage/sqlstorage/schema/schema.go
  components/ledger/pkg/storage/sqlstorage/system/ledgers.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

sqlstorage: separate system schema and move to bun
  components/ledger/pkg/storage/sqlstorage/store_system.go
  components/ledger/pkg/storage/sqlstorage/system/configuration.go
  components/ledger/pkg/storage/sqlstorage/system/ledgers.go
  components/ledger/pkg/storage/sqlstorage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

fix reviews
  components/ledger/cmd/container.go
  components/ledger/cmd/container_test.go
  components/ledger/cmd/storage.go
  components/ledger/pkg/analytics/segment.go
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/api/controllers/config_controller.go
  components/ledger/pkg/api/idempotency/middleware.go
  components/ledger/pkg/api/internal/testing.go
  components/ledger/pkg/api/middlewares/lock_middleware.go
  components/ledger/pkg/api/middlewares/module.go
  components/ledger/pkg/api/routes/routes.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/lock.go
  components/ledger/pkg/ledger/resolver.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/redis/lock.go
  components/ledger/pkg/redis/module.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/errors/errors.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/balances.go
  components/ledger/pkg/storage/sqlstorage/ledger/idempotency.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/migration.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/ledger/volumes.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations.go
  components/ledger/pkg/storage/sqlstorage/module.go
  components/ledger/pkg/storage/sqlstorage/schema/schema.go
  components/ledger/pkg/storage/sqlstorage/system/configuration.go
  components/ledger/pkg/storage/sqlstorage/system/store.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

sqlstorage: introduce new migrations package
  components/ledger/pkg/storage/sqlstorage/migrations/migrations.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations_test.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

sqlstorage: introduce new schema package
  components/ledger/pkg/storage/sqlstorage/schema/schema.go
Due: gofmt, goimports, gomodtidy, golangci-lint, gotests

Path conditions:
  update-sdks: any of: swagger.yaml|swagger.yml|openapi.yml|openapi.yaml|openapi\/Taskfile.yaml, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gofmt: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  goimports: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gomodtidy: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  golangci-lint: any of: \.go$, but not: ^sdks/|openapi/build|components/payments/client|components/auth/authclient
  gotests: any of: \.go$ and not (components/webhooks) and not (^sdks/|openapi/build|components/payments/client|components/auth/authclient)
